* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #22223b; 
    padding: 20px;
    user-select: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

[type=radio] {
    display: none;
}

#slider {
    height: 400px;
    position: relative;
    perspective: 500px;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
}

label img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

#slider label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    width: 250px;
    height: 300px;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.1s ease;
}

#foto1:checked ~ #slide4,
#foto2:checked ~ #slide5,
#foto3:checked ~ #slide1,
#foto4:checked ~ #slide2,
#foto5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-200px);
    opacity: 0.6;
    z-index: -2;
    position: absolute;
    top: 0;
    left: -60%;

}

#foto1:checked ~ #slide5,
#foto2:checked ~ #slide1,
#foto3:checked ~ #slide2,
#foto4:checked ~ #slide3,
#foto5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3);
    transform: translate3d(-15%, 0, -100px);
    opacity: 0.8;
    z-index: -1;
    position: absolute;
    top: 0;
    left: -30%;
}

#foto1:checked ~ #slide1,
#foto2:checked ~ #slide2,
#foto3:checked ~ #slide3, 
#foto4:checked ~ #slide4,
#foto5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3);
    transform: translate3d(0, 0, 0);
}

#foto1:checked ~ #slide2,
#foto2:checked ~ #slide3,
#foto3:checked ~ #slide4,
#foto4:checked ~ #slide5,
#foto5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3);
    transform: translate3d(15%, 0, -100px);
    opacity: 0.8;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 30%;
}

#foto1:checked ~ #slide3,
#foto2:checked ~ #slide4,
#foto3:checked ~ #slide5,
#foto4:checked ~ #slide1,
#foto5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
    transform: translate3d(30%, 0, -200px);
    opacity: 0.6;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 60%;
}
  